$theme-colors: (
  "primary": #0091ea //Covalence Blue!  :D,
);

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

$font-header: serif;
$text-color: black;
$font-body: Calibri (body);
$main-color: rgba(161, 153, 30, 0.699);

body {
  font-family: $font-body;
  background-color: $main-color;
  color: $text-color;
}

.logoBar {
  border-style: solid;
  border-width: 40px;
  border-color: $main-color;
}

.header {
  font-family: $font-header;
  background-color: white;
  font-size: 5em;
}

p {
  background-color: gray;
}

.chirpInput {
  height: 330px;
}

.input-border {
  border: none;
}

.btn {
  border: none;
  font-family: $font-body;
  color: black;
}
